In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('Grades.csv')

In [3]:
dataset.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [4]:
from patsy import dmatrices, Treatment

In [6]:
y, X = dmatrices('admit ~ gre + gpa + C(rank, Treatment(reference=4))', dataset, return_type = 'dataframe')

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [9]:
import statsmodels.api as sm

/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [10]:
logit = sm.Logit(Y_train, X_train)

In [12]:
result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.571367
         Iterations 6

In [16]:
result.params

Intercept                              -5.616988
C(rank, Treatment(reference=4))[T.1]    1.808055
C(rank, Treatment(reference=4))[T.2]    1.105371
C(rank, Treatment(reference=4))[T.3]    0.377535
gre                                     0.001788
gpa                                     0.851847
dtype: float64

In [17]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [18]:
result.pred_table()

array([[202.,  16.],
       [ 75.,  27.]])

In [19]:
y_pred_train = result.predict(X_train)

In [20]:
y_pred_test = result.predict(X_test)

In [23]:
accuracy_score([1 if p > 0.5 else 0 for p in y_pred_train], Y_train)

0.715625

In [24]:
accuracy_score([1 if p > 0.5 else 0 for p in y_pred_test], Y_test)

0.6875

In [27]:
result.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                                   Results: Logit
====================================================================================
Model:                     Logit                   No. Iterations:          6.0000
Dependent Variable:        admit                   Pseudo R-squared:        0.087
Date:                      2018-05-05 16:43        AIC:                     377.6749
No. Observations:          320                     BIC:                     400.2849
Df Model:                  5                       Log-Likelihood:          -182.84
Df Residuals:              314                     LL-Null:                 -200.30
Converged:                 1.0000                  Scale:                   1.0000
------------------------------------------------------------------------------------
                                      Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
------------------------------------------------------------------------------------
Intercept                            -5.6170   1.2836 -4.3759 0.0000 -8.1328 -3.1011
C(rank, Treatment(reference=4))[T.1]  1.8081   0.4869  3.7134 0.0002  0.8538  2.7624
C(rank, Treatment(reference=4))[T.2]  1.1054   0.4322  2.5574 0.0105  0.2582  1.9525
C(rank, Treatment(reference=4))[T.3]  0.3775   0.4630  0.8153 0.4149 -0.5300  1.2851
gre                                   0.0018   0.0012  1.4559 0.1454 -0.0006  0.0042
gpa                                   0.8518   0.3685  2.3118 0.0208  0.1296  1.5741
====================================================================================

"""

In [32]:
X.describe()

,Intercept,"C(rank, Treatment(reference=4))[T.1]","C(rank, Treatment(reference=4))[T.2]","C(rank, Treatment(reference=4))[T.3]",gre,gpa
count,400.0,400.000000,400.000000,400.000000,400.000000,400.000000
mean,1.0,0.152500,0.377500,0.302500,587.700000,3.389900
std,0.0,0.359955,0.485369,0.459916,115.516536,0.380567
min,1.0,0.000000,0.000000,0.000000,220.000000,2.260000
25%,1.0,0.000000,0.000000,0.000000,520.000000,3.130000
50%,1.0,0.000000,0.000000,0.000000,580.000000,3.395000
75%,1.0,0.000000,1.000000,1.000000,660.000000,3.670000
max,1.0,1.000000,1.000000,1.000000,800.000000,4.000000