In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestClassifier

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
dataset = pd.read_csv('Breast_cancer.csv')

In [3]:
dataset.head()

,Unnamed: 0,Id,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
0,1,1000025,5,1,1,1,2,1,3,1,1,benign
1,2,1002945,5,4,4,5,7,10,3,2,1,benign
2,3,1015425,3,1,1,1,2,2,3,1,1,benign
3,4,1016277,6,8,8,1,3,4,3,7,1,benign
4,5,1017023,4,1,1,3,2,1,3,1,1,benign

In [4]:
X = dataset.values[:, 2:11]
Y = dataset.values[:, 11]

In [5]:
X[0, :]

array([5, 1, 1, 1, 2, 1, 3, 1, 1], dtype=object)

In [6]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

In [7]:
classifier = RandomForestClassifier()

In [8]:
classifier.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [9]:
Y_pred = classifier.predict(X_test)

In [10]:
accuracy_score(y_true = Y_test, y_pred = Y_pred)

0.9317073170731708

In [11]:
a, b = 'Nov-2015', 'Dec-2015'

In [12]:
import datetime as dt

In [13]:
a = pd.to_datetime(a)

In [14]:
a

Timestamp('2015-11-01 00:00:00')

In [15]:
a = dt.datetime.toordinal(a)

In [16]:
a

735903

In [17]:
b = pd.to_datetime(b)

In [18]:
b = dt.datetime.toordinal(b)

In [19]:
b - a

30