In [1]:
mystring = 'all lowercase'

In [2]:
mynewstring = 'A' + mystring[1:]

In [3]:
mynewstring

'All lowercase'

## Lists

* Can take any type of data types

In [4]:
my_list = [23, True, 'Cheese', 3.1249]

In [5]:
my_list[1] # Indexing the list

True

In [6]:
my_list[0] = 35 # To replace a value in the list

In [7]:
my_list

[35, True, 'Cheese', 3.1249]

In [8]:
my_list.append('45') # Adding the elements to the list with the append function

In [9]:
my_list

[35, True, 'Cheese', 3.1249, '45']

In [10]:
my_list[5] = 'Hey there brown cow' # This does not work in terms of list

IndexError: list assignment index out of range

In [11]:
for i in my_list:
    print (type(i))

<class 'int'>
<class 'bool'>
<class 'str'>
<class 'float'>
<class 'str'>

## Aliases and Clones

### Aliases

In [12]:
a = [5, 10, 50, 100]

In [13]:
b=a

In [14]:
b

[5, 10, 50, 100]

In [15]:
a[0] = 'Changed'

In [16]:
b # Even b[0] changed, when we changed a[0]

['Changed', 10, 50, 100]

### Clones

* when we use the slice method, we can observe that even though we changed the value of a[0], b[0] did not change

In [20]:
a = [5, 10, 50, 100]

In [21]:
b = a[:]

In [22]:
a[0] = 'Changed'

In [23]:
b

[5, 10, 50, 100]

In [24]:
a

['Changed', 10, 50, 100]

## Sets

* Sets only contain unique values
* Set containing only one value is called as a Singleton
* Since Sets are unordered, we cannot perform indexing

In [26]:
aset = {11,22,33}

In [27]:
bset = aset

In [28]:
aset = aset | {55}

In [29]:
aset

{11, 22, 33, 55}

In [31]:
bset # The other set will not be updated, even though it is an alias

{11, 22, 33}

In [33]:
alist = [11,22,33,22,44]

In [36]:
aset = set(alist) # Converting a list to a set

In [35]:
aset

{11, 22, 33, 44}

In [38]:
aset = aset + {55} # We cannot perform a addition type in sets, but we can add with "|"(pipe) symbol

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [39]:
aset = {11,22,33}
bset = {12,23,33}

In [40]:
aset | bset # Union of two sets

{11, 12, 22, 23, 33}

In [41]:
aset & bset # Intersection of two sets

{33}

In [42]:
aset - bset # Difference between two sets

{11, 22}

In [43]:
aset ^ bset # Symmetric difference between two sets (AUB) - (AnB)

{11, 12, 22, 23}

## Numpy

* Fullform of Numpy is numeric python

In [2]:
import numpy as np # Importing the numpy package

In [49]:
list_1 = [[1,2,3,4], [5,6,7,8]]
list_1

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [48]:
array_1 = np.array(list_1) # To convert a list to an array
array_1

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [50]:
array_1.__class__ # To check the class of an object

numpy.ndarray

In [56]:
array_1.ndim # number of dimensions in the array

2

In [54]:
array_1.shape # Shape of the array

(2, 4)

In [58]:
type(array_1) # type function can also be used

numpy.ndarray

In [59]:
np.zeros((3,5)) # Creating an array entirely with zeroes with desired shape

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [61]:
np.arange(20).reshape(4,5) # reshape function is used to reshape an array

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [4]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
arr[5] # Indexing in array

5

In [6]:
arr[5:8] # Slicing in array

array([5, 6, 7])

In [8]:
arr[5:8] = 12 # Changing the values of an array
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [10]:
arr = np.arange(15).reshape(3,5) # Reshaping an array
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [11]:
arr[0] # Indexing a multi dimensional array

array([0, 1, 2, 3, 4])

In [15]:
print(arr[0,2]) # Printing out with respect to rows and columns
print(arr[0][2]) # Can also index in this format

2
2

In [17]:
arr2d = np.array([[1,2,3], [4,5,6], [7,8,9]])
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [18]:
arr2d[:2] # Slicing a multidimensional array

array([[1, 2, 3],
       [4, 5, 6]])

In [19]:
arr2d[2:] # Slicing a multidimensional array

array([[7, 8, 9]])

In [20]:
arr2d[:, 0:2] # Slicing with rows and columns

array([[1, 2],
       [4, 5],
       [7, 8]])

In [21]:
arr2d[:, 0]

array([1, 4, 7])

In [22]:
arr2d[:2, :2]

array([[1, 2],
       [4, 5]])

In [25]:
arr = np.arange(15).reshape((3,5))
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [26]:
arr.T

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

In [27]:
np.dot(arr, arr.T)

array([[ 30,  80, 130],
       [ 80, 255, 430],
       [130, 430, 730]])

In [28]:
arr = np.arange(10)

In [29]:
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [30]:
np.exp(arr)

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

In [31]:
b = np.exp(arr)
b

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

In [32]:
np.modf(b) # Returns fraction and integral part of an array in seperate arrays

(array([0.        , 0.71828183, 0.3890561 , 0.08553692, 0.59815003,
        0.4131591 , 0.42879349, 0.63315843, 0.95798704, 0.08392758]),
 array([1.000e+00, 2.000e+00, 7.000e+00, 2.000e+01, 5.400e+01, 1.480e+02,
        4.030e+02, 1.096e+03, 2.980e+03, 8.103e+03]))

In [33]:
np.isnan(b)

array([False, False, False, False, False, False, False, False, False,
       False])

In [34]:
np.divide(50,10)

5.0

In [36]:
np.floor_divide(50,11) # Returns the quotient

4

In [37]:
np.power(5,2) # Gives the square

25

In [38]:
np.power(5,3) # Gives the cube

125

In [41]:
np.fmax # Gives the max value while ignoring the NaN's

In [42]:
np.fmin # Gives the min value while ignoring the NaN's

In [43]:
np.mod(5,2) # Gives the reminder of the division

1

In [45]:
x1 = [4,2,1]
x2 = [2,2,2]

In [46]:
np.greater_equal(x1,x2)

array([ True,  True, False])

In [47]:
np.mod(x1,x2)

array([0, 0, 1])

In [50]:
x1 = [True, True, False, False]
x2 = [True, False, True, False]

In [51]:
np.logical_and(x1,x2)

array([ True, False, False, False])

In [53]:
arr.mean() # Mean of the array

4.5

In [54]:
arr.std() # Standard deviation of the array

2.8722813232690143

In [56]:
x = np.random.random(10)
y = np.random.random(10)
z = np.random.random(10)

In [64]:
data = np.array(list(zip(x,y,z)))
data

array([[0.48604491, 0.67248331, 0.13145861],
       [0.11277717, 0.23598235, 0.47583429],
       [0.76523882, 0.42386325, 0.90362804],
       [0.79582267, 0.67800724, 0.11266996],
       [0.27778763, 0.57779812, 0.87723834],
       [0.44812526, 0.27552371, 0.10727756],
       [0.67595302, 0.34929468, 0.82239823],
       [0.66091754, 0.09670293, 0.62719546],
       [0.22340364, 0.82831421, 0.68355555],
       [0.00418227, 0.61535737, 0.02789777]])

In [66]:
a = np.array([[1,2,3],[2,3,4]])
z = np.zeros((2,1))

In [68]:
print(a)
print(z)

[[1 2 3]
 [2 3 4]]
[[0.]
 [0.]]

In [67]:
np.append(a,z, axis = 1) # adding columns

array([[1., 2., 3., 0.],
       [2., 3., 4., 0.]])

In [69]:
np.append(a,z, axis = 0) # Adding rows

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [70]:
data

array([[0.48604491, 0.67248331, 0.13145861],
       [0.11277717, 0.23598235, 0.47583429],
       [0.76523882, 0.42386325, 0.90362804],
       [0.79582267, 0.67800724, 0.11266996],
       [0.27778763, 0.57779812, 0.87723834],
       [0.44812526, 0.27552371, 0.10727756],
       [0.67595302, 0.34929468, 0.82239823],
       [0.66091754, 0.09670293, 0.62719546],
       [0.22340364, 0.82831421, 0.68355555],
       [0.00418227, 0.61535737, 0.02789777]])

In [73]:
subset1 = data[data[:,0] < 0.5] # Logic based subsetting 
subset1

array([[0.48604491, 0.67248331, 0.13145861],
       [0.11277717, 0.23598235, 0.47583429],
       [0.27778763, 0.57779812, 0.87723834],
       [0.44812526, 0.27552371, 0.10727756],
       [0.22340364, 0.82831421, 0.68355555],
       [0.00418227, 0.61535737, 0.02789777]])

In [74]:
arr = np.arange(12).reshape((3,4))

In [75]:
np.concatenate((arr,arr), axis = 1)

array([[ 0,  1,  2,  3,  0,  1,  2,  3],
       [ 4,  5,  6,  7,  4,  5,  6,  7],
       [ 8,  9, 10, 11,  8,  9, 10, 11]])

In [76]:
np.concatenate((arr,arr), axis = 0)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

## Reading and Writing files in python

In [77]:
import pandas as pd

In [ ]:
pd.read_csv(<filepath>) # Loads the csv file

In [80]:
dataset = pd.read_csv('Case Studies/Football Dataset/FullData.csv') # Read csv file

In [81]:
dataset.head()

,Rating,Preffered_Foot,Birth_Date,Weak_foot,Skill_Moves,Ball_Control,Dribbling,Marking,Sliding_Tackle,Standing_Tackle,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
0,94,Right,2/5/1985,4,5,93,92,22,23,31,...,90,81,76,85,88,14,7,15,11,11
1,93,Left,6/24/1987,4,4,95,97,13,26,28,...,88,89,90,74,85,14,6,15,11,8
2,92,Right,2/5/1992,5,5,95,96,21,33,24,...,77,79,84,81,83,15,9,15,9,11
3,92,Right,1/24/1987,4,4,91,86,30,38,45,...,86,86,84,85,88,33,27,31,25,37
4,92,Right,3/27/1986,4,1,48,30,10,11,10,...,16,14,11,47,11,91,89,95,90,89

In [82]:
dataset.to_csv('/Users/ravikiran/Desktop/fifa.csv') # To Save a file